@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

/* These are the colors that are going to be used for the project */
:root {
    /* header and nav color */
    --very-dark-green: #132A13;
    /* color for the main body of site */
    --dark-green: #31572C;
    --green: #4F772D;
    --light-green: #90A955;
    --lighter-green: #ECF39E;
    --white: #fff;
    font-family: 'Raleway', sans-serif;
}

footer{
    display:flex;
    background-color: var(--very-dark-green);
    color: var(--white);
    padding: 20px;
    justify-content: space-between;
}

footer h3{
    font-size: 20px;
    font-weight: 800;
}

footer a{
    text-decoration: none;
    color: var(--white);
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.footer-column{
    display: flex;
    flex-direction: column;
    padding:0 20px;
}

@media screen and (max-width: 768px) {
    footer{
        flex-direction: column;
    }

    .footer-column{
        padding-bottom: 20px;
        text-align: center;
    }
}